.env.sh
new_data
cc-tests/
experiments/baselines/rag/embeddings/
experiments/settings/
experiments/lsprag_data/
experiments/projects/
experiments/venv/
experiments/data
results/
.env
*.pyc
test-results/
out
dist
node_modules
.vscode-test/
*.vsix
.history
.vscode
package-lock.json
tsconfig.tsbuildinfo
tsconfig.json
temp/
**/temp*.test.ts
*.js
*.zip
*.jar
.npmrc
*.vscode
*.log
*.out
*.coverage
*.coverage.out
*.coverage.json
*.coverage.html
package-lock.json
*.tar.gz
venv/
logs/
test-config.json