target/
out
dist
node_modules
.vscode-test/
*.vsix
.history
.vscode
package-lock.json
tsconfig.tsbuildinfo
tsconfig.json
experiments/projects/
experiments/venv/
temp/
*.html
*.js
*.zip
*.jar
.npmrc
*.vscode
*.log
*.out
*.coverage
*.coverage.out
*.coverage.json
*.coverage.html
package-lock.json
*.tar.gz
venv/
logs/
experiments/data
test-config.json